.news-slider {
    // position: absolute;
    // top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    color: #f5f5f5; // smoky white
    min-width: 400px;
    height: 100vh;
    max-height: 500px;
    text-shadow:1px 1px #383838;
    transition: all 1s ease-in-out;

    &.slide-left {
        transform: translateX(-100%);
    }

    &.slide-right {
        transform: translateX(100%);
    }

    // &:first-of-type {
    //     left: -100%;
    // }

    // &:last-of-type {
    //     left: 100%;
    // }
}

.news-slider__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
        .news-slider__img-btn {
            opacity: 1;
            pointer-events: auto;
            cursor: pointer;
        }
    }
}

.news-slider__img-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.5s;
}

.news-slider__img-arrow {
    width: 40px;
    height: 40px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.news-slider__body {
    height: 220px;
    padding-top: 0.5rem;

    h1 {
        font-size: 14px;
    }

    p {
        font-size: 20px;
        margin-top: 1rem;
    }
}

.news-slider__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;

    button {
        flex: 0;
    }

    p {
        flex: 1;
        text-align: right;
        font-size: 12px;
    }
}

.news-slider__footer-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    cursor: pointer;
}

.news-slider__footer-refresh-icon {
    width: 16px;
    height: 16px;
}

.news-slider__news-api-attr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;

    a {
        color: white;
        font-size: 10px;
    }
}

.news-slider__loading-text {
    color: white;
    font-size: 16px;
}