@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: ('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: ('./fonts/Roboto-Bold.ttf');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #383838;

  * {    
    font-family: 'Roboto', sans-serif !important; // not sure why I needed !important
  }
}